.main {
	&-head {
		width: 100%;
		padding: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-title {
			font-size: 2rem;
			line-height: 2.5rem;
		}
		&-ip {
			select {
				width: 7.5rem;
			}
		}
	}
	&-body {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
        padding: 2rem 0;
        @include respond(tab){
            flex-flow: column;
        }
		&-container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
			&__head {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				font-weight: 700;
				font-size: 2rem;
				line-height: 2.5rem;
			}
			&__body {
				width: 100%;
				display: flex;
				margin: 0 auto;
                @include respond(tab){
                    flex-flow: column;
                }
			}
		}
	}
}
.content-box {
	width: 23vw;
	margin: 0 auto;
    @include respond(tab){
        width: 75vw;
    }
}
.card {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: column;
	background-color: var(--indigo);
	color: #f0f0f0;
	border-radius: 5px;
	margin: 1rem auto;
	& > * {
		padding: 0.5rem 0;
		margin: 0.5rem 0;
	}
	&-title {
		font-size: 1.5rem;
		line-height: 1.75rem;
		font-weight: 700;
	}
	&-subtitle {
		font-size: 1.25rem;
		line-height: 1.5rem;
	}
	&-pricing {
		display: flex;
		& span {
			&:first-child {
				display: flex;
				justify-content: center;
				align-items: flex-start;
				font-size: 0.875rem;
				margin: 0 0.25rem;
			}
			&:nth-child(2) {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1.5rem;
				line-height: 2rem;
			}
			&:last-child {
				display: flex;
				justify-content: center;
				align-items: flex-end;
			}
		}
	}
	&-btn {
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	& button {
		width: 100%;
        color: #ffffff;
		&,
		&:hover {
			background-color: var(--primary-400);
		}
	}
}
.list {
	margin: 1rem 0;
	padding: 0 10%;
	list-style: none;
	li {
		padding: 0.5rem 0;
		&::marker {
			content: " > ";
			font-weight: 700;
		}
	}
}
